@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
  width: 100vw;
  top: -1302px;
  left: -361px;
  margin: 0;
}

button{
  cursor: pointer;
}


.header ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header li{
  padding: 0;
}

.header{
  display: flex;
  justify-content: center;
  margin-top: 1.5%;
  margin-bottom: 2%;
}

.header-1{
  width: 1210px;
  height: 59px;
  top: 20px;
  left: 115px;
  padding: 0;
  margin: 0;

}

.header-1-1{
  width: 480px;
  height: 35px;
  top: 30px;
  left: 845px;
  gap: 24px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.header-1-1 button{
  border: none;
  background-color: white;
  cursor: pointer;
  font-family: Inter;
  font-weight: 300;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
}

.header-1-1 a{
  text-decoration: none;
  color: black;
}

.logo{
  width: 58px;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar{
  width: 521px;
  height: 59px;
  top: 20px;
  left: 251px;
  gap: 10px;
  border-width: 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #D9D9D9;
}

.search-bar-1{
  font-family: Inter;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  }

.search{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  color: black;
}

.search::placeholder {
  color: black;
  opacity: 1;
}

.search-1{
  width: 302px;
  height:59px;  
}

.shop-line{
  width: 100%;
  height: 88px;
  top: 102px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.menu-sections{
  margin-left: 10%;
}

.menu-sections a{
  font-family: Inter;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 10%;
  text-decoration: none;
  color: #A7A7A7;

}

.brand{
  font-family: Inter;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 10%;
  
}

.filters{
  margin: 8%;
  display: flex;
  justify-content: space-between;
}

.name-brand{
  font-family: Inter;
  font-weight: 800;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 10%;
  text-align: left;
  vertical-align: middle;
  margin-bottom: 2%;
}

.all-filters{
  width: 150px;
  height: 25px;
  top: 352px;
  left: 122px;
  border-width: 1px;
  border-radius: 10px;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;  
  border: 1px solid #000000;
  font-family: Inter;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.filters-button{
  width: 100%;
  height: 100%;
  border: none;
  background-color: white;
    font-family: Inter;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

select {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  border: none;
  background-color: transparent; /* Убирает фон */
  outline: none;

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 6%;
  row-gap: 5%;
}


.item {
  width: 18vw;
  height: 25vw;
  text-decoration: none;
  color: black;
  text-align: left;
}

.item img {
  width: 100%;
  height: auto;
}

.item:hover {
  opacity: 0.7;
}

.brand-name{
  font-family: Inter;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;  
}

.info{
  font-family: Inter;
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  
}

.cost{
  margin-top: 7%;
  font-family: Inter;
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
}